<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<connectionStrings>
	</connectionStrings>
	<appSettings>
	</appSettings>
	<system.web>
		
		<trace enabled="false" localOnly="true" />
		<httpCookies sameSite="Strict" httpOnlyCookies="true" requireSSL="false" />
		<sessionState mode="InProc" timeout="20" cookieless="UseCookies" />			
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
		<caching>
			<outputCache enableOutputCache="false" enableFragmentCache="false" />
		</caching>
		<customErrors mode="RemoteOnly">
			<error statusCode="400" redirect="errorpage.aspx" />
			<error statusCode="401" redirect="errorpage.aspx" />
			<error statusCode="402" redirect="errorpage.aspx" />
			<error statusCode="403" redirect="errorpage.aspx" />
			<error statusCode="404" redirect="errorpage.aspx" />
			<error statusCode="408" redirect="errorpage.aspx" />
			<error statusCode="414" redirect="errorpage.aspx" />
			<error statusCode="500" redirect="errorpage.aspx" />
			<error statusCode="503" redirect="errorpage.aspx" />
		</customErrors>
		<compilation debug="true" targetFramework="4.8">
			<codeSubDirectories>
				<add directoryName="CsCode" />
				<add directoryName="VBCode" />
			</codeSubDirectories>
		</compilation>
		<authentication mode="Windows" />
		<!--<pages validateRequest="true" buffer ="true" smartNavigation ="true" viewStateEncryptionMode ="Always" enableViewStateMac ="true">-->
		<pages validateRequest="false" smartNavigation="true" viewStateEncryptionMode="Always" enableViewStateMac="true" buffer="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<!--<add tagPrefix="asp" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />-->
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web" />
			</controls>
		</pages>
		<httpHandlers>
			<!--<add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>-->
		</httpHandlers>
		<httpRuntime enableVersionHeader="false" />
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<verbs allowUnlisted="true">
					<add verb="OPTIONS" allowed="false" />
				</verbs>
				<requestLimits maxAllowedContentLength="2147483648" />
			</requestFiltering>
		</security>
		<defaultDocument>
			<files>
			
				<add value="Default.aspx" />
			</files>
		</defaultDocument>
		<httpErrors>
			<remove statusCode="502" subStatusCode="-1" />
			<remove statusCode="501" subStatusCode="-1" />
			<remove statusCode="412" subStatusCode="-1" />
			<remove statusCode="500" subStatusCode="-1" />
			<remove statusCode="406" subStatusCode="-1" />
			<remove statusCode="405" subStatusCode="-1" />
			<remove statusCode="403" subStatusCode="-1" />
			<remove statusCode="404" subStatusCode="-1" />
			<remove statusCode="401" subStatusCode="-1" />
			<error statusCode="401" prefixLanguageFilePath="" path="errorpage.aspx" responseMode="ExecuteURL" />
			<error statusCode="404" prefixLanguageFilePath="" path="errorpage.aspx" responseMode="ExecuteURL" />
			<error statusCode="403" prefixLanguageFilePath="" path="errorpage.aspx" responseMode="ExecuteURL" />
			<error statusCode="405" prefixLanguageFilePath="" path="errorpage.aspx" responseMode="ExecuteURL" />
			<error statusCode="406" prefixLanguageFilePath="" path="errorpage.aspx" responseMode="ExecuteURL" />
			<error statusCode="500" prefixLanguageFilePath="" path="errorpage.aspx" responseMode="ExecuteURL" />
			<error statusCode="412" prefixLanguageFilePath="" path="errorpage.aspx" responseMode="ExecuteURL" />
			<error statusCode="501" prefixLanguageFilePath="" path="errorpage.aspx" responseMode="ExecuteURL" />
			<error statusCode="502" prefixLanguageFilePath="" path="errorpage.aspx" responseMode="ExecuteURL" />
		</httpErrors>
		<httpProtocol>
	
		</httpProtocol>
		<directoryBrowse enabled="false" />
	</system.webServer>
	<location path="StudentPhotoHandler.ashx">
	
	</location>

</configuration>

