<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<connectionStrings>
		<!--<add name="constr" connectionString="Server=10.135.32.83;Database=Sanskrit_Sch;Integrated Security=True;" providerName="System.Data.SqlClient"/>
        <add name="ConnectCurrentFY" connectionString="Server=10.135.32.83;Database=Sanskrit_Sch;Integrated Security=True;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="ConnectCurrentFYInstituteSanskrit" connectionString="Server=10.135.30.58;Database=NSP_Sc_prepost_2526;User Id=sa;Password=nic@@@;" providerName="System.Data.SqlClient" />
		<add name="ConnectCurrentFYInstitute2526" connectionString="Server=10.135.30.58;Database=NSP_Sc_prepost_2526;User Id=sa;Password=nic@@@;" providerName="System.Data.SqlClient" />-->

		<!--<add name="ConnectCurrentFYInstituteSanskrit" connectionString="Server=10.135.32.83;Database=Sanskrit_Sch;User Id=sa;Password=nic@@@;" providerName="System.Data.SqlClient" />
		<add name="ConnectCurrentFYInstitute2526" connectionString="Server=10.135.32.83;Database=Sanskrit_Sch;User Id=sa;Password=nic@@@;" providerName="System.Data.SqlClient" />-->
		<add name="ConnectCurrentFYInstituteSanskrit" connectionString="Server=10.135.30.58;Database=Sanskrit_Sch;User Id=sa;Password=nic@@@;" providerName="System.Data.SqlClient" />
		<add name="ConnectCurrentFYInstitute2526" connectionString="Server=10.135.30.58;Database=Sanskrit_Sch;User Id=sa;Password=nic@@@;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>

		<!--<add key="AUTHURL" value="https://auakua.auashreetron.com/api/auakuaclientgateway/auth" />
		<add key="KYCURL" value="https://auakua.auashreetron.com/api/auakuaclientgateway/kyc" />
		<add key="OTPURL" value="https://auakua.auashreetron.com/api/auakuaclientgateway/otp" />
		<add key="DEMOURL" value="https://auakua.auashreetron.com/api/auakuaclientgateway/demo" />
		--><!--<add key="PreprodPublickey" value="G:\Certificates\uidai_auth_preprod.cer"/>--><!--
		<add key="ProdPublicKey" value="E:\Arun Data\Project\New_Scholorship\uidai_auth_prod.cer" />
		<add key="OBCSLK" value="KCZJZ-GTRVV-RUVCH-VIPUG" />
		<add key="EDISTD" value="WsDic20#greTrc" />
		<add key="TransactionTimeout" value="10" />-->
		
		<!--<add key="AUTHURL" value="https://auakua.auashreetron.com/api/auakuaclientgateway/auth" />
		<add key="KYCURL" value="https://auakua.auashreetron.com/api/auakuaclientgateway/kyc" />
		<add key="OTPURL" value="https://auakua.auashreetron.com/api/auakuaclientgateway/otp" />
		<add key="DEMOURL" value="https://auakua.auashreetron.com/api/auakuaclientgateway/demo" />-->
		<add key="AUTHURL" value="https://uatauakua.auashreetron.com/auakua25uat/api/auakuaclientgateway/auth" />
		<add key="KYCURL" value="https://uatauakua.auashreetron.com/auakua25uat/api/auakuaclientgateway/kyc" />
		<add key="OTPURL" value="https://uatauakua.auashreetron.com/auakua25uat/api/auakuaclientgateway/otp" />
		<add key="DEMOURL" value="https://uatauakua.auashreetron.com/auakua25uat/api/auakuaclientgateway/demo" />

		<!--<add key="PreprodPublickey" value="G:\Certificates\uidai_auth_preprod.cer"/>-->
		<!--<add key="ProdPublicKey" value="C:\NIC\Arun\New_Scholorship\Sanskrit\uidai_auth_prod.cer" />-->
		<add key="PreprodPublickey" value="E:\Arun Data\Project\New_Scholorship\Sanskrit\uidai_auth_preprod.cer" />
		
		<!--<add key="SLK_SANSKRIT" value="HUVKI-WBBKN-MBFRE-SOIXS" />-->
		<add key="SLK_SANSKRIT" value="KCZJZ-GTRVV-RUVCH-VIPUG" />
		<add key="EDISTD" value="WsDic20#greTrc" />
		<add key="TransactionTimeout" value="10" />
		<!--for Host Header Attack start-->
		<add key="CanonicalHost" value="www.example.com" />
		<!--for Host Header Attack end-->
	</appSettings>
	<system.web>
		
		<trace enabled="false" localOnly="true" />
		<httpCookies sameSite="Strict" httpOnlyCookies="true" requireSSL="false" />
		<sessionState mode="InProc" timeout="20" cookieless="UseCookies" />			
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
		<caching>
			<outputCache enableOutputCache="false" enableFragmentCache="false" />
		</caching>
		<customErrors mode="RemoteOnly">
			<error statusCode="400" redirect="errorpage.aspx" />
			<error statusCode="401" redirect="errorpage.aspx" />
			<error statusCode="402" redirect="errorpage.aspx" />
			<error statusCode="403" redirect="errorpage.aspx" />
			<error statusCode="404" redirect="errorpage.aspx" />
			<error statusCode="408" redirect="errorpage.aspx" />
			<error statusCode="414" redirect="errorpage.aspx" />
			<error statusCode="500" redirect="errorpage.aspx" />
			<error statusCode="503" redirect="errorpage.aspx" />
		</customErrors>
		<compilation debug="true" targetFramework="4.8">
			<codeSubDirectories>
				<add directoryName="CsCode" />
				<add directoryName="VBCode" />
			</codeSubDirectories>
		</compilation>
		<authentication mode="Windows" />
		<!--<pages validateRequest="true" buffer ="true" smartNavigation ="true" viewStateEncryptionMode ="Always" enableViewStateMac ="true">-->
		<pages validateRequest="false" smartNavigation="true" viewStateEncryptionMode="Always" enableViewStateMac="true" buffer="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<!--<add tagPrefix="asp" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />-->
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web" />
			</controls>
		</pages>
		<httpHandlers>
			<!--<add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>-->
		</httpHandlers>
		<httpRuntime enableVersionHeader="false" />
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<verbs allowUnlisted="true">
					<add verb="OPTIONS" allowed="false" />
				</verbs>
				<requestLimits maxAllowedContentLength="2147483648" />
			</requestFiltering>
		</security>
		<defaultDocument>
			<files>
				<!--<add value="index.aspx"/>-->
				<!--<add value="login.aspx" />-->
				<add value="Sanskrit.aspx" />
			</files>
		</defaultDocument>
		<httpErrors>
			<remove statusCode="502" subStatusCode="-1" />
			<remove statusCode="501" subStatusCode="-1" />
			<remove statusCode="412" subStatusCode="-1" />
			<remove statusCode="500" subStatusCode="-1" />
			<remove statusCode="406" subStatusCode="-1" />
			<remove statusCode="405" subStatusCode="-1" />
			<remove statusCode="403" subStatusCode="-1" />
			<remove statusCode="404" subStatusCode="-1" />
			<remove statusCode="401" subStatusCode="-1" />
			<error statusCode="401" prefixLanguageFilePath="" path="errorpage.aspx" responseMode="ExecuteURL" />
			<error statusCode="404" prefixLanguageFilePath="" path="errorpage.aspx" responseMode="ExecuteURL" />
			<error statusCode="403" prefixLanguageFilePath="" path="errorpage.aspx" responseMode="ExecuteURL" />
			<error statusCode="405" prefixLanguageFilePath="" path="errorpage.aspx" responseMode="ExecuteURL" />
			<error statusCode="406" prefixLanguageFilePath="" path="errorpage.aspx" responseMode="ExecuteURL" />
			<error statusCode="500" prefixLanguageFilePath="" path="errorpage.aspx" responseMode="ExecuteURL" />
			<error statusCode="412" prefixLanguageFilePath="" path="errorpage.aspx" responseMode="ExecuteURL" />
			<error statusCode="501" prefixLanguageFilePath="" path="errorpage.aspx" responseMode="ExecuteURL" />
			<error statusCode="502" prefixLanguageFilePath="" path="errorpage.aspx" responseMode="ExecuteURL" />
		</httpErrors>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
				<remove name="X-AspNet-Version" />
				<remove name="X-AspNetMvc-Version" />
				
				<remove name="Server" />
				<add name="X-Frame-Options" value="SAMEORIGIN" />
				<add name="X-UA-Compatible" value="IE=edge,chrome=1" />
				<add name="Cache-Control" value="no-cache, no-store, must-revalidate, max-age=-1" />
				<add name="Pragma" value="no-cache" />
				<add name="Expires" value="-1" />
				<add name="Content-Language" value="*" />			
		       
				<add name="X-Content-Type-Options" value="nosniff"/>							
				<add name="X-XSS-Protection" value="1; mode=block"/>
				<add name="Referrer-Policy" value="origin"/>
				<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains"/>
				<add name="X-Permitted-Cross-Domain-Policies" value="none"/>
				<add name="Permissions-Policy" value="accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()"/>
				<!-- Content-Security-Policy Header start -->
				<!--<add name="Content-Security-Policy"
	                value="default-src 'self'; 
                    script-src 'self' https://cdn.jsdelivr.net https://cdnjs.cloudflare.com 'unsafe-inline' 'unsafe-eval'; 
                    style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net https://fonts.googleapis.com; 
                    img-src 'self' data:; 
                    font-src 'self' data: https://fonts.gstatic.com; 
                    connect-src 'self'; 
                    frame-ancestors 'none';" />-->
                <!--end-->
			</customHeaders>
		</httpProtocol>
		<directoryBrowse enabled="false" />
	</system.webServer>
	<location path="StudentPhotoHandler.ashx">
		<system.web>
			<authorization>
				<deny users="?" />
				<!-- blocks anonymous users -->
			</authorization>
		</system.web>
	</location>
</configuration>